body {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Título */
#navbar_brand {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #ffc107;
    /* Amarillo tipo McDonald's */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo general de la tarjeta */
.card {
    background: linear-gradient(135deg, #ff0000, #d32f2f);
    /* Rojo McDonald's */
    border-radius: 15px;
    position: relative;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.table th {
    font-family: 'Bangers', cursive;
    font-size: 1.25rem;
    color: #ffc107;
    /* Amarillo brillante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.table td {
    font-size: 1.1rem;
    color: white;
}

/* Fondo tabla con transparencia */
.table-hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Texto dentro de tarjeta */
.content {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/* Imágenes decorativas en esquinas */
.corner {
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.corner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.corner.top-left {
    top: -10px;
    left: -10px;
}

.corner.top-right {
    top: -10px;
    right: -10px;
}

.corner.bottom-left {
    bottom: -10px;
    left: -10px;
}

.corner.bottom-right {
    bottom: -10px;
    right: -10px;
}

input.form-control {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 2px solid #ffc107;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input.form-control:focus {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #ff0000;
}

select.form-control {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 2px solid #ffc107;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select.form-control:focus {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #ff0000;
}

label {
    color: #ffc107;
    font-weight: bold;
}

#btn_pedidos {
    background-color: #ff0000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#btn_pedidos:hover {
    background-color: #f32828;
}

#btn_realizar {
    background-color: #ffd900;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#btn_realizar:hover {
    background-color: #f2d322;
}

#btn_historial {
    background-color: #e1e8ef;
    color: rgb(9, 9, 9);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

#btn_historial:hover {
    background-color: #c0c4c8;
}

.tipo-card,
.pago-card {
    cursor: pointer;
    width: 30%;
    transition: 0.2s;
}

.tipo-card:hover,
.pago-card:hover {
    transform: scale(1.05);
}

.opcion-img {
    width: 90px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.opcion-img:hover {
    transform: scale(1.1);
}

.seleccionado {
    border: 3px solid red;
}